doc/_build
doc/_static
doc/_templates
build/
cmake-build-*/
pas
pas.exe
pas_setup.exe
*~
*.o
*.lst
*.bin
*.elf
*.hex
*.bak
*.ii
*.i
*.d
*.map
*.a
*.sim
*.pdf
*.lex.cpp
*.output
*.tab.cpp
*.tab.hpp
*.zip
a.out
test/build
test/reference
bugs/
.vscode/
*.cson
*.code-workspace
*.iss
!doc/code/multiply.hex
!doc/code/multiply.lst
!doc/code/sections/seccoes1.hex
!doc/code/sections/seccoes1.lst
!doc/code/sections/seccoes2.hex
!doc/code/sections/seccoes2.lst
.idea
