.idea/
build/
cmake-build-*/
pas
pas.exe
pas_setup.exe
*~
*.o
*.lst
*.bin
*.elf
*.hex
*.bak
*.ii
*.i
*.d
*.map
*.a
*.sim
*.pdf
*.lex.cpp
*.output
*.tab.cpp
*.tab.hpp
*.zip
a.out
doc/
test/
bugs/
.vscode/
*.cson
*.code-workspace
*.iss
