.idea/
build/
cmake-build-*/
pas
pas.exe
pas_setup.exe
*~
*.o
*.lst
*.bin
*.elf
*.hex
*.bak
*.ii
*.i
*.d
*.map
*.a
*.sim1
*.sim0
*.pdf
*.lex.cpp
*.output
*.tab.cpp
*.tab.hpp
*.zip
a.out
.gitignore
doc/
bugs/
test/

